global
        log /dev/log local0 notice

        external-check
        stats socket /var/run/haproxy.sock mode 666 level user
        stats timeout 30s
        server-state-file server.state
        server-state-base /var/lib/haproxy/
        daemon
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3
        max-spread-checks 1
        maxconn 4000

defaults
        log global
        mode  tcp
        option dontlog-normal
        option dontlognull
        option redispatch
        option tcp-smart-connect
        option allbackups
        retries 2
        timeout connect 1s
        timeout client  30m
        timeout server  30m
        load-server-state-from-file global
        maxconn 500


listen db_postgres_pgtools_cluster_master_service
        bind :7432 tfo
        mode tcp
        default-server inter 2000 fall 2 rise 2
        server iva-pgtools2.yamoney.ru 10.201.192.3:7432 check port 7432 weight 100
        server iva-pgtools1.yamoney.ru 10.200.192.3:7432 check port 8432 backup
        server ugr-pgtools1.yamoney.ru 10.200.192.3:7432 check port 8432 backup
        server ugr-pgtools2.yamoney.ru 10.201.192.3:7432 check port 8432 backup