apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ prepare_configs_ca_certificate }}
    server: https://10.201.116.10:8443
  name: iva-cluster.intools.yooteam.ru
contexts:
- context:
    cluster: iva-cluster.intools.yooteam.ru
    namespace: {{ prepare_configs_namespace }}
    user: {{ prepare_configs_user }}
  name: intools
current-context: intools
users:
- name: {{ prepare_configs_user }}
  user:
    token: {{ prepare_configs_sa_token }}
